body, html {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  line-height: 1.2;
  font-size: large;
  font-weight: bolder;
}

label {  
  display: inline-block;
  width: 100px;
  text-align: right;
}
input[type=text] {      
  margin-left: 2rem;
  text-align: left;  
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}
li {
  border-bottom:1px solid black;
  margin: 0;
  padding: 0.5rem 0;
}
table {
table-layout: fixed;
width: 100%;
}

td, th {
  text-align: center;
}

/* Style the buttons */
.btn, a {
  border: none;
  outline: none;
  text-decoration: none;
  padding: 1rem 1.2rem;
  background-color:lightgrey;
  cursor: pointer;
 }
 /* Style the active class (and buttons on mouse-over) */
 .active, .btn:hover {
  background-color: black;
  color: white;
 }

 /* --- flex row ---- */
.wrapper {
  max-height: 100vh;
  display: flex;
}
.mw {
  flex: 0 0 20rem;
  padding: .5rem;  
  min-height: calc(100vh - 2rem);  
}
.main {   
  flex: 1 1 auto;     
  border: 1px solid black;  
  border-top: 0;  
}  
/* --- end flex row ---- */

/* --- flex row menu --*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}
a {
  flex: 0 1 auto;
  padding: 1rem;
}
/* end of menu --*/

/* flex column --*/
.main {
  display: flex;
  flex-direction: column;    
}
      .content {        
        padding: .5rem;  
        flex-grow: 1;                 
      }
      .console {     
        flex-shrink: 0;        
        padding: 1rem;  
        height: 10rem;      
        background-color: black;
        color: rgb(130, 238, 6);                   
        overflow:scroll;
      }
      .err{
        flex-shrink: 0;         
        padding: 1rem;  
        height: 4rem;  
        color: red;     
        overflow:scroll;       
      }

#progress {
  margin: 1rem;  
  width: calc(100% - 2rem);
  border: 1px solid black;
  background-color:lightgrey;  
}
#bar {  
  width: 100%;
  height: 30px;  
}

.red {
  background-color: red;
  color: white;
}
.green {
  background-color: green;
  color: white;
}

.break-word {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
/*
td {
  border:solid 1px black;
}
*/

.rt {
 float: right;
}